extends layouts/main

block content
    .tutor-detail__image
        img(src=tutor.detail_img_url)
    .tutor-detail__container
        .tutor-detail__content
            p.tutor-detail__name 운동 | #{tutor.name} 강사님
            .tutor-detail__description
                h2 #{tutor.detail_description}
                .tutor-detail__type #{tutor.type}
            ul.tutor-detail__tags
                each tag in tutor.expert
                    li= tag
            .tutor-detail__fee
                span 3개월 할부
                p 1회: #{tutor.fee}원
        